***1. Import Pandas***

In [ ]:
# import pandas

!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
# giving short name

import pandas as pd

2. Create a DataFrame

In [ ]:
# creating dataset with all information as a dictionary

data = {
    'Name': ['John', 'Alice', 'Bob', 'Charlie', 'David'],
    'Age': [23, 30, 25, 35, 28],
    'City': ['New York', 'Los Angeles', 'Chicago', 'San Francisco', 'New York'],
    'Salary': [50000, 70000, 45000, 80000, 55000]
}

#creating dataframe

df = pd.DataFrame(data)

3. Print the DataFrame df to confirm it has been created.

In [ ]:
print(df)

4. Basic operations

In [ ]:
# display first few rows

df.head()

In [ ]:
#display the "Name" and "Salary" columns only.

print(df[['Name', 'Salary']])

      Name  Salary
0     John   50000
1    Alice   70000
2      Bob   45000
3  Charlie   80000
4    David   55000

In [ ]:
# printing first 3 lines of our dataframe

print(df.head(3))

    Name  Age         City  Salary
0   John   23     New York   50000
1  Alice   30  Los Angeles   70000
2    Bob   25      Chicago   45000

In [ ]:
# calculating avarage salary of all people

av_salary = df['Salary'].mean()
print(av_salary)

60000.0

In [ ]:
#selecting by age that should no less than 30

filtered_age = df[df['Age'] >= 30]
print(filtered_age)

      Name  Age           City  Salary
1    Alice   30    Los Angeles   70000
3  Charlie   35  San Francisco   80000

5. Sorting

In [ ]:
# sort df by salary. from greatest to smallest

sorted_df = df.sort_values(by = 'Salary', ascending = False)

print(sorted_df)

      Name  Age           City  Salary
3  Charlie   35  San Francisco   80000
1    Alice   30    Los Angeles   70000
4    David   28       New York   55000
0     John   23       New York   50000
2      Bob   25        Chicago   45000

In [ ]:
# sort df by city and age. first sort by City - from A to Z; then in each City that is the same for 2 or more people sort by age that starts from largest to smallest

sorted_df = df.sort_values(by = ['City', 'Age'], ascending = [True, False])

print(sorted_df)

      Name  Age           City  Salary
2      Bob   25        Chicago   45000
1    Alice   30    Los Angeles   70000
4    David   28       New York   55000
0     John   23       New York   50000
3  Charlie   35  San Francisco   80000

6. Missing data

In [ ]:
#deleting positions for people

df.loc[2, 'Salary'] = None  # Set Salary for Bob to None, because we need to delete the position. It cannot be empty; therefore, we change it to 'None'
df.loc[4, 'City'] = None    # Set City for David to None, because we need to delete the position. It cannot be empty; therefore, we change it to 'None'

print(df)

      Name  Age           City   Salary
0     John   23       New York  50000.0
1    Alice   30    Los Angeles  70000.0
2      Bob   25        Chicago      NaN
3  Charlie   35  San Francisco  80000.0
4    David   28           None  55000.0

In [ ]:
#renaming positions for people

df.loc[2, 'Salary'] = df['Salary'].mean() #making it mean salary of other people together
df.loc[4, 'City'] = 'Unknown' #making it unknown

print(df)

      Name  Age           City   Salary
0     John   23       New York  50000.0
1    Alice   30    Los Angeles  70000.0
2      Bob   25        Chicago  63750.0
3  Charlie   35  San Francisco  80000.0
4    David   28        Unknown  55000.0

In [ ]:
#Drop any rows where there is a missing value.

df_cleaned = df.dropna()

print(df_cleaned)

      Name  Age           City   Salary
0     John   23       New York  50000.0
1    Alice   30    Los Angeles  70000.0
2      Bob   25        Chicago  63750.0
3  Charlie   35  San Francisco  80000.0
4    David   28        Unknown  55000.0

7. Saving document

In [ ]:
from google.colab import files #to save the document, used especially in google colab

df_cleaned.to_csv('panda.csv', index = False)

files.download('panda.csv')

8. Group by "City" and find the average salary for each city.

In [ ]:
# Bonus Challenge: Group by "City" and find the average salary for each city.
grouped_by_city = df.groupby('City')['Salary'].mean() #find city first, then get access to salaries and find average of them
print(grouped_by_city)

City
Chicago          45000.0
Los Angeles      70000.0
New York         52500.0
San Francisco    80000.0
Name: Salary, dtype: float64