1. Assigning Values to Variables

In [ ]:
#Assigning Values to Variables
integer = 3 #creating an integer
float_value = 3.14 #creating a float
string = 'Hello' #Creating a string

2. Data Types

In [ ]:
#Data Types
age1 = 18 #integer

print (type(age1)) #should print int

age2 = 18.5 #float

print (type(age2)) #should print float

is_student = True #bool

print(type(is_student)) #should print bool

<class 'int'>
<class 'float'>
<class 'bool'>

3. Basic Input and Output

In [ ]:
#Basic Input and Output

name = input('What is your name?') #asking for name
print('Hello,', name, '!')

age = int(input('How old are you?')) #asking for age
if age >= 18: #checking if minor or adult
  print('You can vote!')
else:
  print('You are a minor')

f
Hello, f !
20
You are 20 years old.

4. Converting Data Types

In [ ]:
#Converting Data Types

#FOR INTEGER
n = str(input()) #asking for number and making it string

new = int(n) #converting into integer

print(new**2) #printing sqare

#FOR FLOAT
f = str(input()) #asking for number and making it string
new2 = float(f)

print(f*2)

5. Arithmetic Operators

In [ ]:
#Arithmetic Operators

print(45 + 67)
print(156 - 89)
print(12 * 7)
print(100/4)
print(10 % 3)
print(3**4)

6. Comparison Operators

In [ ]:
#Comparison Operators

#asking for A and B
a = int(input())
b = int(input())

#checking if they are equal, smaller, greater
if a > b:
  print('A is greater than B')
elif a == b:
  print('A is equal to B')
else:
  print('A is smaller than B')

7. Logical Operators

In [ ]:
#Logical Operators

#1
a = 10 #creating a number

if a > 10 and a < 20: #checking if >10 and <20
  print('number is greater than 10 and less than 20')
elif a <= 10: #checking if less than 10
  print('number is less or equal to 10')
else:
  print('number is greater or equal to 20')


#2

n = int(input())

if n > 50 or 5 > n:
  print('number is less than 5 or greater than 50')
else:
  print('out of range')

8. Conditional Statements

In [ ]:
#Conditional Statements

#1
age = int(input('How old are you?')) #asking for age
if age >= 18: #checking if minor or adult
  print('You are an adult!')
else:
  print('You are a minor')


#2

n = int(input()) #asking for a number

if n % 15 == 0: #checking remainder of division by 5 and 3
  print('FizzBuzz')
elif n % 5 == 0 and n % 3 != 0: #checking division by 5
  print('Buzz')
elif n % 3 == 0 and n % 5 != 0: #checking  division by 3
  print('Fizz')
else:
  print(n)

9. Loops

In [ ]:
#Loops

#for loop
for i in range (1, 11): #looking for all numbers from 1 to 10
  print(i)


#while loop
k = 2
while k <= 20: #because want k to be no more than 20. k starts from 2
  print(k)
  k += 2 #because want even numbers


#program
n = int(input()) #ask for input of integer number

for i in range(1, n+1): #looking for all numbers from 1 to n
  if i%4 == 0: #finding the remainder and if it is equal to 0
    print(i)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20

10. Nested Loops

In [ ]:
#Nested Loops

for i in range(1, 6): #starts from 1 and to print 5 strings need to put 6 otherwise it stops before string 5
  print(i*'*') #multiplying i (which is changing) by symbol '*' which gives nested loop of stars

*
**
***
****
*****